:root {
  --color-teal: rgb(45, 204, 209);
  --color-dark-teal: rgb(36, 171, 175);
  --color-light-teal: rgb(210, 254, 255);
  --color-gold: rgb(255, 214, 81);
  --color-coral: rgb(255, 165, 147);
  --color-purple: rgb(222, 173, 255);
  --color-light-purple: rgb(240, 218, 255);
  --color-dark-purple: rgb(32, 7, 49);
  --color-light-grey: rgb(198, 195, 207);
  --color-medium-grey: rgb(67, 64, 69);
  --color-dark-grey: rgb(40, 39, 42);
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-media-body: rgba(212, 209, 222, 0.96);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Testing and Playtime */
.box {
  margin: 5rem;
  border: 1px solid gold;
  margin-top: 7rem;
  background: gold;
  width: 100px;
  height: 100px;
}

/* .border {
  border: 1px solid gold;
} */

/* Utility */

.close-gap {
  transform: translateY(-50px);
}

/* Typography */

::selection {
  background: var(--color-teal);
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  /* purple bullseye */
  /* background: rgb(57, 54, 58); */
  /* background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  /* grey bullseye */
  /* background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%231f1526' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23322739' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%2345394d' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%235a4d61' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%236F6277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */
/* darker grey bullseye */
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%231a111e' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23271e2c' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23352c3a' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23443a49' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23534958' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-body);
  margin: 0;
}

h1 {
  letter-spacing: 0.18rem;
  font-weight: 500;
}

/* Links */
a {
  color: var(--color-teal);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-dark-teal);
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--large {
  width: 100px;
  height: 100px;
}

.icon--white {
  fill: white;
}

.icon--light-purple {
  fill: var(--color-light-purple);
}

.icon--light-teal {
  fill: var(--color-light-teal);
}

/* Buttons */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn__gold {
  background: var(--color-gold);
  color: var(--color-med-grey);
}

/* Grids */

.grid {
  display: grid;
}

.grid--image-container {
  margin: 2rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Blocks */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  /* background: var(--color-dark-grey); */
  background: rgba(35, 31, 43, 0.7);
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: white;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.block--skewed {
  clip-path: polygon(0% 20%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Collapsibles */

/* .collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
*/
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
/*
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
} */

/* Nav Bar */

.nav {
  background: rgba(28, 26, 30, 0.6);
  /* background: var(--color-dark-grey); */
  border-bottom: 2px solid rgba(212, 209, 222, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.nav__brand-image {
  /* fill: white; */
  max-width: 80px;
  padding: ;
  width: 100%;
  transform: translate(5px, 5px);
}

.nav__list {
  width: 100%;
  margin: 0;
}

/* .nav__list-red {
  width: 100%;
  margin: 0;
  background: red;
} */

/* .nav__list-closed {
  display: none;
} */

.nav__item {
  display: inline-block;
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  color: var(--color-light-grey);
  transition: color 0.3s;
}

.nav__item > a {
  /* color: var(--color-light-grey);
  transition: color 0.3s; */
}

.nav__item:hover {
  color: white;
}

.nav__toggler {
  margin-right: 1rem;
  max-width: 40px;
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px rgb(210, 254, 255, 0.5);
  border-radius: 5px;
}

@media screen and (min-width: 568px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* Media */

.media--content {
  margin-top: 4rem;
}

.media__body {
  text-align: center;
}

.media__image {
  justify-self: center;
}

.media__title {
  color: white;
  border-bottom: 1px solid var(--color-body);
}

.media__body p {
  color: var(--color-media-body);
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  .media__title,
  .media__body {
    text-align: left;
  }
}

/* Hero */

.hero--container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero .grid {
  gap: 3rem;
}

.hero--heading {
  color: white;
  font-size: 5.5rem;
}

h2.hero--subtitle {
  color: var(--color-body);
  font-size: 2.5rem;
  font-weight: 300;
}

.hero--content {
  margin-bottom: 6rem;
}

.hero__image {
  border-radius: 100%;
  align-self: center;
  justify-self: center;
  width: 100%;
  margin: 2rem;
  box-shadow: 0 0 20px rgba(222, 173, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .hero {
    margin: 10rem;
  }
  .hero--header {
    align-self: center;
  }

  .hero--heading {
    font-size: 6rem;
  }

  .hero--subtitle {
    font-size: 3rem;
  }

  .hero__image {
    margin-right: 6rem;
    max-width: 400px;
  }
}

/* About Me - Media */

.about__me {
  /* padding: 4rem; */
}

.about__me .media__title,
.skills .media__title {
  font-size: 3.5rem;
}

.about__me .media__body,
.skills .media__body {
  font-size: 2.1rem;
  font-weight: 300;
  margin: 4rem 4rem 8rem 4rem;
}

.about__me .media__image {
  transform: translateY(30px);
}

@media screen and (min-width: 768px) {
  .about__me .media {
    text-align: center;
  }
  .about__me .media__title {
    font-size: 3rem;
  }
  .about__me .media__body {
    font-size: 2rem;
  }
  .about__me .media__image {
    transform: translateY(40px);
  }
  .media__image .box {
    width: 200px;
    height: 200px;
  }
}

/* Tech Component */

.tech--container {
  max-width: 60vw;
}

.tech--list {
  max-width: 500px;
  justify-items: center;
  align-items: center;
}

.tech__list-item {
  text-align: center;
  max-width: 25vw;
  padding: 2rem;
}

.tech__item-title {
  color: var(--color-light-purple);
  font-size: 2.6rem;
}

@media screen and (min-width: 500px) {
  .tech--container .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .tech__list-item {
    margin: 2rem;
  }
  .tech__item-title {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .tech--container .grid--1x2 {
    grid-template-columns: repeat(3, 1fr);
  }
}